$bg-color: #f3d0a0;
$second-color: #8d8d8d;
$third-color: #e5e5e5;
$forth-color: #ffffff;

$outter-spacing: 20px;

$menu_padding: 20px;

$belly_button_wh: 303px;

$belly_button_bottom_offset: 360px;
$belly_button_bottom_offset_short: 256px;

$belly_button_left_offset: 766px;

$belly_button_horizontal_factor: 4px;
$belly_button_vertical_factor: 0px;

$social_button_size: 50px;
$social_button_padding: 5px;
$social_button_padding_top: 20px;

@import 'reset';
@import 'type';

html, body {
	background-color: $bg-color;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.content, .dude, .preload {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
}

.preload {
	.inner {
		display: table;
		width: 100%;
		height: 100%;
		
		p {
			display: table-cell;
			vertical-align: middle;
		}
		
		.preload_text {
			
		}
	}
}

.content {
	display: none;
}

.menu_item, .count_item, .timer_item {
	z-index: 9999;
}

.menu_item {
	padding: $menu_padding;
	position: absolute;
}

.timer_item {
	text-align: center;
	position: relative;
	display: inline-block;
	@include transition(0.3s);
	
	.inner {
		padding: $menu_padding;
	}
	
	p.timer_numbers {
		margin-bottom: 10px;
	}
	
	a {
		margin-top: 11px;
		display: inline-block;
	}
	
	@media (max-width: 620px) {
		margin-top: 40px;
	}
}

@media (max-width: 504px) {
	.social_active {
		margin-top: 100px;
	}
}

.menu_item--top-left {
	top: 0;
	left: 0;
}

.menu_item--top-right {
	top: 0;
	right: 0;	
}

.social_icons {
	display: none;
	text-align: right;
}

.social_button {
	width: $social_button_size;
	height: $social_button_size;
	display: inline-block;
	padding: $social_button_padding;
	padding-top: $social_button_padding_top;
	
	img {
		width: 100%;
		height: 100%;
	}
	
	a {
		border: none;
	}
}

.facebook_button {
	padding-right: 0px;
}

.count_item {
	position: absolute;
	padding: $menu_padding;
	text-align: center;
	
	.sub_title {
		margin-top: $menu_padding / 2;
		@include transition(0.3s);
		
		@media (max-width: 480px) {
			margin-top: 0px;	
		}
	}
}

.count_item--bottom-left {
	bottom: 0;
	left: 0;
}

.count_item--bottom-right {
	bottom: 0;
	right: 0;
}

.dude {
	background: url('/img/dude.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	
	@media (max-width: 480px) {
		background: url('/img/dude_short.png');
		background-repeat: no-repeat;
		background-position: 50% 100%;
	}
}

.belly_button {
	cursor: pointer;
	background: url('/img/belly_buttons.png') no-repeat;
	width: $belly_button_wh;
	height: $belly_button_wh;
	position: absolute;
	left: 50%;
	margin-left: (-$belly_button_wh / 2) + $belly_button_horizontal_factor;
	bottom: ($belly_button_bottom_offset - ($belly_button_wh / 2)) + $belly_button_vertical_factor;
	overflow: hidden;
	border-radius: 50%;
	
	@media (max-width: 480px) {
		bottom: ($belly_button_bottom_offset_short - ($belly_button_wh / 2)) + $belly_button_vertical_factor;
	}
}