doctype html
html
	head
		title= title
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0")
		meta(property="og:title", content="Brexit Belly - Are we Innie or Outie?")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://brexitbelly.eu/")
		meta(property="og:image", content="http://brexitbelly.eu/img/fb_share.png")
		meta(property="og:site_name", content="BrexitBelly.eu")
		meta(property="og:description", content="Is the United Kingdom currently innie or outie of the EU? Find out at brexitbelly.eu #brexitbelly #brexit")
		meta(property="fb:admins", content="194800020920404")
		meta(name="description", content="Is the United Kingdom currently innie or outie of the EU? Find out at brexitbelly.eu #brexitbelly #brexit")
		meta(name="keywords", content="")
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="favicon.ico", type="image/x-icon", rel="shortcut icon")
		link(href="favicon.ico", rel="shortcut icon")
		link(href="favicon.ico", type="image/x-icon", rel="icon")
		
		include html5shiv
		
		script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(type="text/javascript",src="/js/modernizr.js")
		script(type="text/javascript",src="/js/soundmanager2-jsmin.js")
		script(type="text/javascript",src="/js/pxloader-all.min.js")
		script(type="text/javascript",src="/js/jquery.animateSprite.min.js")
		script(type="text/javascript",src="/js/countUp.min.js")
		script(type="text/javascript",src="/js/jquery.countdown.min.js")
		script(type="text/javascript",src="/js/application.js")
		script(type="text/javascript").
			var data = !{JSON.stringify(data)}
			
	body