include header

.content
	.menu_item.menu_item--top-left
		a(href="https://ig.ft.com/sites/brexit-polling/" target="_blank") Data Source
		
	.menu_item.menu_item--top-right
		a(href="" target="_blank") Share The Belly
		
	.count_item.count_item--bottom-left
		p.
			#[span.count#count-stay 0]%
		.sub_title
			p.
				innies
		
	.count_item.count_item--bottom-right
		p.
			#[span.count#count-leave 0]%
		.sub_title
			p.
				outties					
	.dude
		img(src="/img/dude.png" class="the_dude")
	
include footer