include header
#fb-root

.preload
	.inner
		p.preload_text Counting Polls
	
.content
	.menu_item.menu_item--top-left
		a(href="https://ig.ft.com/sites/brexit-polling/" target="_blank") Data Source
		
	.menu_item.menu_item--top-right
		a(href="" target="_blank" class="social_icons_trigger") Share The Belly
		.social_icons
			.social_button.twitter_button
				a(href="http://twitter.com/intent/tweet/?text=Is%20the%20United%20Kingdom%20currently%20innie%20or%20outie%20of%20the%20EU%3F%20Find%20out%20at%20%23brexitbelly%20%23brexit&url=http://brexitbelly.eu" target="_blank")
					img(src="/img/twitter.png")
			.social_button.facebook_button
				a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbrexitbelly.eu%2F&src=sdkpreparse" target="_blank")
					img(src="/img/facebook.png")
					
	.timer_item
		.inner
			.timer
				p.timer_numbers 00:00:00:00
			p #{timer_message}
			if button_url
				a(href=button_url target="_blank" class="register_button") Register now
		
	.count_item.count_item--bottom-left
		p.
			#[span.count#count-stay 0]%
		.sub_title
			p.
				innie
		
	.count_item.count_item--bottom-right
		p.
			#[span.count#count-leave 0]%
		.sub_title
			p.
				outie
					
	.dude
		
	.belly_button
	
include footer