@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
  border: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block;
  zoom: 1;
  *display: inline; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

a {
  outline: 0; }

object, embed {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

html, body {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, a, p {
  color: #FFF; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 2px #FFF solid;
  cursor: pointer; }
  @media (max-width: 480px) {
    a {
      font-size: 14px; } }

p {
  font-size: 72px;
  font-weight: 400; }

.preload .inner p {
  font-size: 18px; }

.timer_item p {
  font-size: 18px; }

.timer_item p.timer_numbers {
  font-size: 30px;
  letter-spacing: 2px; }

.timer_item a {
  font-size: 26px; }

.count_item--bottom-left .sub_title p {
  text-align: left; }

.count_item--bottom-right .sub_title p {
  text-align: right; }

.sub_title p {
  font-size: 18px; }

span.count {
  font-size: 72px; }

html, body {
  background-color: #f3d0a0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; }

.content, .dude, .preload {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden; }

.preload .inner {
  display: table;
  width: 100%;
  height: 100%; }
  .preload .inner p {
    display: table-cell;
    vertical-align: middle; }

.content {
  display: none; }

.menu_item, .count_item, .timer_item {
  z-index: 9999; }

.menu_item {
  padding: 20px;
  position: absolute; }

.timer_item {
  text-align: center;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .timer_item .inner {
    padding: 20px; }
  .timer_item p.timer_numbers {
    margin-bottom: 10px; }
  .timer_item a {
    margin-top: 11px;
    display: inline-block; }
  @media (max-width: 620px) {
    .timer_item {
      margin-top: 40px; } }

@media (max-width: 504px) {
  .social_active {
    margin-top: 100px; } }

.menu_item--top-left {
  top: 0;
  left: 0; }

.menu_item--top-right {
  top: 0;
  right: 0; }

.social_icons {
  display: none;
  text-align: right; }

.social_button {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 5px;
  padding-top: 20px; }
  .social_button img {
    width: 100%;
    height: 100%; }
  .social_button a {
    border: none; }

.facebook_button {
  padding-right: 0px; }

.count_item {
  position: absolute;
  padding: 20px;
  text-align: center; }
  .count_item .sub_title {
    margin-top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 480px) {
      .count_item .sub_title {
        margin-top: 0px; } }

.count_item--bottom-left {
  bottom: 0;
  left: 0; }

.count_item--bottom-right {
  bottom: 0;
  right: 0; }

.dude {
  background: url("/img/dude.png");
  background-repeat: no-repeat;
  background-position: 50% 100%; }
  @media (max-width: 480px) {
    .dude {
      background: url("/img/dude_short.png");
      background-repeat: no-repeat;
      background-position: 50% 100%; } }

.belly_button {
  cursor: pointer;
  background: url("/img/belly_buttons.png") no-repeat;
  width: 303px;
  height: 303px;
  position: absolute;
  left: 50%;
  margin-left: -147.5px;
  bottom: 208.5px;
  overflow: hidden;
  border-radius: 50%; }
  @media (max-width: 480px) {
    .belly_button {
      bottom: 104.5px; } }
